<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form>
    <div>
      <input type="text" name="nome" placeholder="nome" class="form-control" [(ngModel)]="cliente.nome"
          [ngClass]="{'campo-invalido': !cliente.nome && campoInvalido.nome}"
         (blur)="validarCampo('nome')">
      <div *ngIf="!cliente.nome && campoInvalido.nome"  class="mensagem-aviso">Por favor, preencha o campo nome.</div>
    </div>
    <div>
      <input type="number" name="idade" placeholder="idade" class="form-control" [(ngModel)]="cliente.idade"
        [ngClass]="{'campo-invalido': !cliente.idade && campoInvalido.idade}"
        (blur)="validarCampo('idade')">
      <div *ngIf="!cliente.idade && campoInvalido.idade" class="mensagem-aviso">Por favor, preencha o campo idade.</div>
    </div>
    <div>
      <input type="number" name="telefone" placeholder="telefone" class="form-control" [(ngModel)]="cliente.telefone"
        [ngClass]="{'campo-invalido': !cliente.telefone && campoInvalido.telefone}"
        (blur)="validarCampo('telefone')">
      <div *ngIf="!cliente.telefone && campoInvalido.telefone" class="mensagem-aviso">Por favor, preencha o campo
        telefone com 9 digitos.</div>
    </div>

      <input type="button" value="Cadastrar" class="form-control" (click)="cadastrarCliente()">
      <div style="display: inline-flex">
        <input type="button" value="Alterar" class="form-control" (click)="alterarCliente()">
        <input type="button" value="Deletar" class="form-control" (click)="deletaCliente()">
      </div>
      <input type="button" value="limpar" class="form-control" (click)="limpar()">

  </form>



  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>nome</td>
        <td>idade</td>
        <td>telefone</td>
        <td>selecionar</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; index as i">
        <td>{{i+1}}</td>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.idade}}</td>
        <td>{{cliente.telefone}}</td>
        <td><button class="form-control" (click)="selecionarCliente(i)">selecionar</button></td>
      </tr>
    </tbody>
  </table>
</body>

</html>
